body {
  background-color: #2E8B57; /* Slightly darker green background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul.navbar {
  list-style-type: none;
  background-color: #2e7d2e; /* Match the background color to the body */
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center the navbar horizontally */
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px; /* Make the container wider */
  text-align: center;
}

.input-box input {
  width: 80%; /* Make the input text boxes slightly smaller */
}

.input-box label {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}
