body {
  background-color: #c9d6d3; /* Light sage background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
ul.navbar {
    list-style-type: none;
    background-color: #3c8b3c;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar li {
    display: inline;
    margin: 0 10px; /* Add some horizontal spacing between menu items */
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    padding: 1em;
}

.navbar li a:hover {
    background-color: #52489C;
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.container h1 {
  font-size: 24px;
  color: #333;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-box label {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007849; /* Green submit button color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


