/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/whiteHouseProtest.jpg); /*alt= "a huge crowd of people from different backgrounds with many different signs to make abortion legal"; */
    background-size: 1300px;
    background-position:bottom;
    padding: 100px;
    padding-bottom: 200px;
     color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

imgcaption {
  display: block;
  width: 100%;
  text-align:center;
  font-style: italic;
}


.homeContent {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}


.homeImages img {
  height: 20em;
  margin: 5px;
}

/* Nav Bar */ 

ul{
  list-style-type: none;
  background-color: #3c8b3c;
  overflow:hidden;
  padding: 0.5em;
  text-align: right;
}

li{
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #52489C
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

