body {
  margin: 0;
  padding: 0;
}

.green-background {
  background-image: url('forest.jpg'); /* Replace 'your-image.jpg' with the image URL or file path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Adjust text color for better visibility */
}

.content {
  background-color: rgba(255, 255, 255, 0.7); /* Use a semi-transparent white background for better text readability */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  font-size: 16px;
  color: #666;
  text-align: left;
}
